{%extends "base.html"%}

{% block title %}

Edit Task

{% endblock title %}

{% block content %}  

    <div class = "container mt-3">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">

     {% if task_obj.owner == user %} 
      <form method="post">
         {% csrf_token %}
       <div class="mb-3">
        <input type="text" class="form-control" name="task" placeholder = "{{task_obj.task}}" value = "{{task_obj.task}}">
        <input type="hidden"  name="is_completed" value = "{{task_obj.is_completed}}">
       </div>
         <button type="submit" class="btn btn-primary w-100">Update Task</button>
      </form >
      {% else %}
        <p>ACCESS RESTRICTED !! </p>
     {% endif %}

        </div>
      </div>
    </div>

{% endblock content %}